<!DOCTYPE html>
 <html>
   <head>
     <meta charset="UTF-8">
     <title>Document</title>

   <link rel='stylesheet' type='text/css' href='/styles/style.css'>
   </head>
   <body>
     <div id = "top">
      <div id="logo">
        <a href="/"><img src="/styles/images/logo.png" alt="NYC Logo">  Schools' SAT Data</a>
      </div>
      <div id ="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/scores">Schools</a></li>
      </ul>
      </div>
     </div>
