<% include ./partials/header.ejs %>

<div id ="landing">
  <div id = "left">
     <h1><%= message %></h1>

     <a href="/scores">High School SAT Data</a>
  </div>
  <div id = "right">
     <img src ="/styles/images/NYC-5boros.png" alt="5boros">
  </div>
</div>

<% include ./partials/footer.ejs %>
